# Configuración de la base de datos
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CHARSET=

# Configuración de la aplicación
APP_ENV=development
APP_DEBUG=true

# Configuración del servidor
BASE_URL=
